/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

body {
  text-align: center;
  background: rgb(43, 32, 27);
  color: rgb(220, 228, 229);
}

h1, h2 {
  font-family: 'Rye', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family: 'Nanum Brush Script', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*SLIDER*/
.wrapper {
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 1000px;
  height: 500px;
  position: relative;
  background: rgba(255, 251, 226, 0.142) ;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
  display: flex;
  overflow: hidden;
}
.slide-group {
  height: 500px;
  display: flex;
  align-items: center;
  animation: slideshow 15s linear infinite;
}

.slide {
  height: 450px;
  width: 200px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.slide * {
  width: 100%;
}

.slide h2 {
  min-height: 50px;
  font-size: 20px;
  padding: 5px;
  flex-grow: 1;
}

.slide img {
  height: 200px;
  object-fit: cover;
}

.slide p {
  height: 100px;
}

@keyframes slideshow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}
.slider::before, .slider::after {
  height: 500px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(43, 32, 27)  0%, rgba(43, 32, 27,0) 100%);
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right:0;
  top:0;
  transform: rotateZ(180deg);
}